:root{
    --spacing: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    background-color: #3a3a3a;
    color: whitesmoke;
}

ul{
    list-style-type: none;
}
header, footer {
    padding: var(--spacing);
    display: grid;
    place-items: center;
}

main > ul {
    padding: var(--spacing);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--spacing);
}

main li {
    padding: var(--spacing);
    border: 1px dashed black;
    text-align: center;
}

main img{
    width: 80%;
    transition: 0.25s ease;
}

main h2 {
    padding: var(--spacing);
}
main img:hover{
    transform: scale(1.05);
    transition: 0.25s ease;
}