:root {
    --spacing: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
}

header,
footer {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: var(--spacing);
    place-items: center;
}

header>button {
    border: none;
    font-size: 25px;
    background-color: transparent;
}

body {
    background-color: #3a3a3a;
    color: whitesmoke;
}

body.light {
    background-color: whitesmoke;
    color: #292929;
}

main {
    display: grid;
    place-items: center;
    gap: var(--spacing);
}

main>ul {
    padding: var(--spacing);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--spacing);
}

main li {
    padding: var(--spacing);
    border: 1px dashed black;
    text-align: center;
}

main img {
    padding: var(--spacing);
    width: 80%;
    transition: 0.25s ease;
}

main h2 {
    padding: var(--spacing);
}

main img:hover {
    transform: scale(1.05);
    transition: 0.25s ease;
}